<div id="{{ id }}" {{ attributes.addClass(classes).addClass('mrgn-bttm-md').removeClass('panel-group') }}>
  {% for key, row in rows -%}
    <div class="panel panel-default mrgn-tp-md">
      <div class="panel-body">
        {% if row.title is not empty %}
        {{ row.content }}
        {% else %}
        {{ row.content }}
        {% endif %}
      </div>
    </div>
  {%- endfor %}
</div>
